{
  "presets": [
    [
      "@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3
    }], 
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "plugins": [
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "ast": true
      }
    ]
  ]
}
